@model List<MVC_CORE.Models.topic>
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">

        <div class="owl-carousel-item position-relative">
            <img class="img-fluid h-100" src="~/img/st.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .5);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text text-uppercase mb-3 animated slideInDown" style="color: #FFFFFF; font-weight:bolder ">Best Online Courses</h5>
                            <h1 class="display-3 text-white animated slideInDown" style="color: #E5EBB2">Get Educated Online From Your Home</h1>
                            <p class="fs-5 text-white mb-4 pb-2"> Explore our extensive collection of free courses, tests, and certifications on our educational platform.</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="owl-carousel-item position-relative">
            <img class="img-fluid h-100" src="~/img/laughing-while-we-work.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .5);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text text-uppercase mb-3 animated slideInDown" style="color: #FFFFFF; font-weight:bolder ">Best Online Courses</h5>
                            <h1 class="display-3 text-white animated slideInDown" style="color: #E5EBB2">Get Educated Online From Your Home</h1>
                            <p class="fs-5 text-white mb-4 pb-2"> Explore our extensive collection of free courses, tests, and certifications on our educational platform.</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-3 col-sm-6 wow fadeInUp " data-wow-delay="0.1s">
                <div class="service-item text-center pt-3" style="background-color: #FFFFFF">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text mb-4" style="color: #FFD24C"></i>
                        <h5 class="mb-3">Free Courses</h5>
                        <p>You can get training courses in different fields with high professionalism, and this is all for free!</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 wow fadeInUp " data-wow-delay="0.5s">
                <div class="service-item text-center pt-3" style="background-color: #FFFFFF ">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text mb-4" style="color: #FFD24C; "></i>
                        <h5 class="mb-3">Determine level</h5>
                        <p>Our exams are carefully developed by experts from all over the world</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp " data-wow-delay="0.3s">
                <div class="service-item text-center pt-3" style="background-color: #FFFFFF ">
                    <div class="p-4">
                        <i class="bi bi-patch-check  mb-4" style="color: #FFD24C; font-size: 3em"></i>
                        <h5 class="mb-3">Get Certified </h5>
                        <p>Pass the exam, know your level to improve and then get a certificate from ED!</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 wow fadeInUp " data-wow-delay="0.7s">
                <div class="service-item text-center pt-3" style="background-color: #FFFFFF">
                    <div class="p-4">
                        <i class="bi bi-share mb-4" style="color: #FFD24C; font-size: 3em"></i>
                        <h5 class="mb-3">Participate</h5>
                        <p>Do not skimp on knowledge, share your information that you feel others may benefit from</p>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/img/OIG (1).jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">

                <h1 class="mb-4">ED welcomes you  <i style="width:30px; height:30px" class="em em-orange_heart" aria-role="presentation" aria-label="ORANGE HEART"></i></h1>
                <p class="mb-4">ED is very generous! as it offers you a wide range of educational courses in the form of vedios for free!</p>
                <p class="mb-4">It also helps you to discover your levels in whatever you are learning throuh comprehensive tests designed by professional teachers</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text me-2" style="color: rgb(255 187 14)"></i>Skilled Instructors</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text me-2" style="color: rgb(255 187 14)"></i>High level Courses</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text me-2" style="color: rgb(255 187 14)"></i>International Certificate</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text me-2" style="color: rgb(255 187 14)"></i>Proffecional Exams</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text me-2" style="color: rgb(255 187 14)"></i>Share information</p>
                    </div>

                </div>
                <a class="btn py-3 px-5 mt-2 " href="" style="background-color: rgb(255 187 14)">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Categories Start -->
<div class="container-xxl py-5 category">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">

            <h1 class="mb-5">Courses Topics</h1>
        </div>
        <div class="row g-3 mb-4">
            @foreach (var i in Model)
            {

                <div class="col-lg-4 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                    <a class="position-relative d-block overflow-hidden" asp-controller="My" asp-action="Course" asp-route-id="@i.Id">
                        <img class="img-fluid h-100 w-100" src="~/topics/@Url.Content(i.image)" alt="" style=" border-radius: 50px">
                        <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                            <h5 class="m-0">@i.title</h5>

                        </div>
                    </a>
                </div>

            }
        </div>
    </div>
</div>









<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">

        <h1 class="mb-5">Trendy Courses</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="projects">
                    <div class="row">
                        @foreach (var q in ViewBag.result)
                        {
                            <div class="col-lg-4 item architecture">
                                <div class="card">
                                    <div class="card-head">
                                        <img src="~/course/@Url.Content(q.image)" class="img-fluid card-img h-100" alt="" />
                                        <div class="card-img-overlay "><h2 style="color:white"> @q.Title</h2></div>

                                    </div>
                                    <div class="card-body text-center">
                                        <h4 class="title">BY: @q.teacher</h4>
                                        <a asp-action="CourseDescription" asp-route-id="@q.Id" class="btn btn-lg card-btn">
                                            see more
                                            <img src="~/img/eyes-4860_512 (1).gif" style="width:20px; height:20px"/>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        }


                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
 



<style>



    .flexbox {
        background: linear-gradient(to bottom, #0d1a26, #0d1a26 30%, #1f2c3b 60%, #424d5c);
        background-repeat: no-repeat;
        background-position-x: right;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .search {
        margin: 20px;
    }

        .search > h3 {
            font-weight: normal;
        }

        .search > h1,
        .search > h3 {
            color: white;
            margin-bottom: 15px;
            margin-right: 20px;
            text-shadow: 0 1px #0091c2;
        }

        .search > div {
            display: inline-block;
            position: relative;
            filter: drop-shadow(0 1px #0091c2);
        }

            .search > div:after {
                content: "";
                background: white;
                width: 4px;
                height: 20px;
                position: absolute;
                top: 22px;
                transform: rotate(135deg);
            }

            .search > div > input {
                color: white;
                font-size: 16px;
                background: transparent;
                width: 25px;
                height: 25px;
                padding: 10px;
                border: solid 3px white;
                outline: none;
                border-radius: 35px;
                transition: width 0.5s;
            }

                .search > div > input::placeholder {
                    color: #efefef;
                    opacity: 0;
                    transition: opacity 150ms ease-out;
                }

                .search > div > input:focus::placeholder {
                    opacity: 1;
                }

                .search > div > input:focus,
                .search > div > input:not(:placeholder-shown) {
                    width: 250px;
                }
  
</style>