@model List<MVC_CORE.Models.Video>
@{
    ViewData["Title"] = "videos_course";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from eduport.webestica.com/course-video-player.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 May 2023 15:46:23 GMT -->
<head>
    <title>Eduport - LMS, Education and Course Theme</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Webestica.com">
    <meta name="description" content="Eduport- LMS, Education and Course Theme">

    <link rel="stylesheet" href="~/css/videos/comments.css" />

    <link rel="stylesheet" href="~/css/videos/style.css" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- Favicon -->
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&amp;family=Roboto:wght@400;500;700&amp;display=swap">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="~/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/plyr/plyr.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/videos/style.css">

</head>

<body>

    <!-- **************** MAIN CONTENT START **************** -->
    <main>

        <section class="py-0 bg-dark position-relative">

            <div class="row g-0">
                <div class="d-flex">
                    <div class="overflow-hidden fullscreen-video w-100">
                        <!-- Full screen video START -->
                        <div class="video-player rounded-3">
                          
                            <video controls crossorigin="anonymous" playsinline poster="~/video/@ViewBag.q.image">
                                <source src="~/video/@ViewBag.q.Source" type="video/mp4" size="360">


                            </video>
                           
                        </div>
                        <!-- Full screen video END -->
                        <!-- Plyr resources and browser polyfills are specified in the pen settings -->
                    </div>

                    <!-- Page content START -->
                    <div class="justify-content-end position-relative">
                        <!-- Collapse button START -->
                        <button class="navbar-toggler btn btn-white mt-4 plyr-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                            <span class="navbar-toggler-animation">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </button>
                        <!-- Collapse button END -->
                        <!-- Collapse body START -->
                        <div class="collapse collapse-horizontal" id="collapseWidthExample">
                            <div class="card vh-100 overflow-auto rounded-0 w-280px w-sm-400px">
                                <!-- Title -->
                                <div class="card-header rounded-0" style="background-color: rgb(255, 187, 14)">
                                    @foreach (var t in ViewBag.c)
                                    {
                                    <h1 class="mt-2 fs-5">@t.Title</h1>
                                    <h6 class="mb-0 fw-normal">By @t.teacher</h6>
                                    }
                                </div>

                                <!-- Course content START -->
                                <div class="card-body">
                                    <div class="d-sm-flex justify-content-sm-between">
                                        <h5>Course content</h5>

                                    </div>
                                    <hr> <!-- Divider -->
                                    <!-- Course START -->
                                    <div class="row">
                                        <div class="col-12">
                                            <!-- Accordion START -->
                                            <div class="accordion accordion-flush-light accordion-flush" id="accordionExample">



                                                <!-- Item -->
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingThree">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                            <span class="mb-0 fw-bold">Videos</span>
                                                        </button>
                                                    </h2>

                                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body px-3">
                                                            <div class="vstack gap-3">

                                                                @foreach (var m in Model)
                                                                {
                                                                    <div class="d-flex justify-content-between align-items-center">
                                                                        <div class="position-relative d-flex align-items-center">
                                                                            <a asp-action="videos_course" asp-controller="My" asp-route-co=@m.CourseId asp-route-num="@m.Num" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                                                                                <i class="fas fa-play me-0"></i>
                                                                            </a>
                                                                            <span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px">@m.title</span>
                                                                        </div>
                                                                        <p class="mb-0 text-truncate">@m.Duration m</p>
                                                                    </div>

                                                                }



                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--attached vid-->

                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingThree1">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                            <span class="mb-0 fw-bold">Attached Videos</span>
                                                        </button>
                                                    </h2>

                                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body px-3">
                                                            <div class="vstack gap-3">

                                                                @foreach (var m in ViewBag.e)
                                                                {
                                                                    <div class="d-flex justify-content-between align-items-center">
                                                                        <div class="position-relative d-flex align-items-center">
                                                                            <a asp-controller="My" asp-action="videos_course" asp-route-co=@m.CourseId asp-route-num="@m.Num" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                                                                                <i class="fas fa-play me-0"></i>
                                                                            </a>
                                                                            <span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px">@m.title</span>
                                                                        </div>
                                                                        <p class="mb-0 text-truncate">@m.Duration </p>
                                                                    </div>

                                                                }


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    





                                                </div>
                                                <!-- Accordion END -->
                                            </div>
                                    </div>
                                    <!-- Course END -->
                                </div>
                                <!-- Course content END -->

                                <div class="card-footer">
                                    <div class="d-grid">
                                        <a asp-action="exam"  asp-route-qid="1" asp-route-q="@ViewBag.f" asp-route-ans="" class="btn btn-primary-soft mb-2">Start Exam</a>
                                    </div>
                                  

                                    <div class="d-grid">
                                        <a asp-action="CourseDescription" class="btn btn-primary-soft mb-0">Back to course</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Collapse body END -->
                    </div>
                    <!-- Page content END -->
                </div>
            </div>

        </section>
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
    <!-- Back to top -->

    <div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>


    <br /><br />

    <!--comments start-->

    <div class="container bootdey">
        <div class="col-md-12 bootstrap snippets">
            <div class="panel">

                <form asp-action="AddComment" asp-controller="My"  asp-route-id="@ViewBag.idv" method="get">
                    <div class="panel-body">
                        <input type="hidden" value="@ViewBag.numofvideo" name="num"/>
                        <input type="hidden" value="@ViewBag.f" name="courseId" />
                        <textarea class="form-control" name="comment" rows="2" placeholder="What are you thinking?"></textarea>
                        <div class="mar-top clearfix">
                            <button class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pen fa-fw" ></i> Comment</button>

                        </div>
                    </div>
                 </form>

            </div>
            <div class="panel">
                <div class="panel-body">
                    <!-- Newsfeed Content -->
                    <!--===================================================-->

                    @foreach (var item in ViewBag.k)
                    {

                        <div class="media-block">
                            <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="~/img/OIG (3).jpg"></a>
                            <div class="media-body">
                                <div class="mar-btm ">
                                    <a href="#" class="btn-link text-semibold media-heading box-inline"> @item.username</a>
                                    
                                </div>
                                <p>@item.Contents</p>

                                <hr>




                            </div>
                        </div>


                    }
                    </div>
                   
                   

            </div>
        </div>
    </div>
































    <!-- Bootstrap JS -->
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Vendors -->
    <script src="~/js/videos/plyr.js"></script>

    <!-- Template Functions -->
    <script src="~/js/videos/functions.js"></script>

</body>

<!-- Mirrored from eduport.webestica.com/course-video-player.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 May 2023 15:46:23 GMT -->
</html>